<html>
<head>
    <script src="coinRanking-0.0.1-SNAPSHOT/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="coinRanking-0.0.1-SNAPSHOT/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>CoinRanking</title>
    <link rel="stylesheet"
          href="coinRanking-0.0.1-SNAPSHOT/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<style>
    body {
        padding-top: 5rem;
    }
    .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
    }
</style>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">CoinRanking</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Welcome to CoinRank</h1>
        <p class="lead">Click <a href="coinRanking-0.0.1-SNAPSHOT\rank">here</a> to see the current coin rank!</p>
        <br>
        <p class="text-muted">Click <a href="coinRanking-0.0.1-SNAPSHOT\logs">here</a> to check the logs!</p>
    </div>

</main><!-- /.container -->
</body>
</html>